# Environment variables (SENSITIVE)
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Node
node_modules/
dist/
build/
npm-debug.log*

# Docker
.docker/
*.log

# Databases
advanced_pgdata/
volume/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
